
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Users can only access their own settings.
    match /userSettings/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Users can only access their own trading accounts.
    match /tradeAccounts/{accountId} {
      allow read, write: if request.auth.uid == resource.data.uid;
    }
    
    // Users can create a new trading account for themselves.
    match /tradeAccounts/{accountId} {
      allow create: if request.auth.uid == request.resource.data.uid;
    }
    
    // Users can only access bots linked to their user ID.
    match /bots/{botId} {
        allow read, write: if request.auth.uid == resource.data.uid;
    }

    // Users can create a new bot for themselves.
    match /bots/{botId} {
        allow create: if request.auth.uid == request.resource.data.uid;
    }

    // Auto Bot strategies are linked to a user.
    match /autobotStrategies/{userId} {
        allow read, write: if request.auth.uid == userId;
    }
  }
}
